body{
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.image {
    border: 1px solid #000;
    border-radius: 50%;
    width: 150px;
}

#title, .subtitle, .post_title{
    color: rgb(0, 0, 0);
}

a {
    text-decoration: line-through;
    color: #000
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(142, 175, 105);
    padding: 15px;
    border: 3px solid rgba(153, 145, 145, 0.76);
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #000
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;

}

.contacts_list li a {
    text-decoration: none;
}